<!doctype html>
<html lang="en">
<%- include("../partials/head") %>

  <body class="text-center">


    <%- include("../partials/header") %>

      <main class="form-signin">
        <section>
          <form method="POST" action="/newPasswordPost">
            <img class="mb-4" src="../assets/brand/login.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Changer le mot de passe</h1>
            <input type="hidden" value="<%= login %>" name="username">
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingInput" name="password1" placeholder="Password">
              <label for="floatingInput">Nouveau Mot de passe</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
              <label for="floatingPassword">Confirmer Mot de passe</label>
            </div>


            <button class="w-100 btn btn-lg btn-primary" type="submit">Changer</button>

          </form>
        </section>
      </main>
      <%- include("../partials/footer") %>



  </body>

</html>