<!doctype html>
<html lang="en">
<%- include("../partials/head") %>

  <body class="text-center">

    
      <%- include("../partials/header") %>
       
      <main class="form-signin">
        <section>
        <form method="POST" action="/login">
          <img class="mb-4" src="../assets/brand/login.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>

          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
            <label for="floatingInput">Adresse E-mail</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Mot de passe</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">S'identifier</button>

        </form>
</section>
      </main>
        <%- include("../partials/footer") %>


    
  </body>

</html>